<h2>ConcatMap</h2>
<br />
<div class="row">
  <div class="col-md-4">
    <strong>Ex - 01 | Map</strong>
    <hr />
    <p class="bg-light py-2 px-3 border rounded">
      <strong>Videos</strong> ['Tech','Comedy','News']
    </p>
    <br />
    <ul id="concatMapUlElement1"></ul>
  </div>
  <div class="col-md-4">
    <strong>Ex - 02 | MergeMap</strong>
    <hr />
    <p class="bg-light py-2 px-3 border rounded">
      <strong>Videos</strong> ['Tech','Comedy','News']
    </p>
    <br />
    <ul id="concatMapUlElement2"></ul>
  </div>
  <div class="col-md-4">
    <strong>Ex - 03 | ConcatMap</strong>
    <hr />
    <p class="bg-light py-2 px-3 border rounded">
      <strong>Videos</strong> ['Tech','Comedy','News']
    </p>
    <br />
    <ul id="concatMapUlElement3"></ul>
  </div>
</div>
