<div #main>
  <h2>take, takeLast & takeUntil</h2>
  <br />
  <p class="bg-light py-2 px-3 border rounded">
    Random Names: 'Vivek','Amar','Akbar','Anthony','John'
  </p>
  <div class="row">
    <div class="col-md-4">
      <strong>Ex - 01 | Take(2)</strong>
      <hr />
      <ul id="takeUlElement1"></ul>
    </div>
    <div class="col-md-4">
      <strong>Ex - 02 | TakeLast(3)</strong>
      <hr />
      <ul id="takeUlElement2"></ul>
    </div>
    <div class="col-md-4">
      <strong>Ex - 03 | TakeUntil(condition) | Click anywhere to stop</strong>
      <hr />
      <ul id="takeUlElement3"></ul>
    </div>
  </div>
</div>
