<h2>Interval</h2>
<br />
<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">User 1</div>
      <div class="card-body">
        <ul id="intervalUlElement1"></ul>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">User 2</div>
      <div class="card-body">
        <ul id="intervalUlElement2"></ul>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">User 3</div>
      <div class="card-body">
        <ul id="intervalUlElement3"></ul>
      </div>
    </div>
  </div>
</div>

<br />
<br />

<h2>Timer</h2>
<br />
<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">User 4</div>
      <div class="card-body">
        <ul id="intervalUlElement4"></ul>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">User 5</div>
      <div class="card-body">
        <ul id="intervalUlElement5"></ul>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">User 6</div>
      <div class="card-body">
        <ul id="intervalUlElement6"></ul>
      </div>
    </div>
  </div>
</div>
