<h2>Of & From</h2>
<br />
<strong> Ex - 01 (OF) </strong>
<hr />
<div class="row">
  <div class="col-md-6">
    <p class="bg-light py-2 px-3 border rounded">
      <strong>Data:</strong> of('Anup','Shekhar','Sharma')
    </p>
    <hr />
    <ul id="ofFromUlElement1"></ul>
  </div>
  <div class="col-md-6">
    <p class="bg-light py-2 px-3 border rounded">
      <strong>Data:</strong> of(&#123;a: 'Anup',b: 'Shekhar',c: 'Sharma'&#125;)
    </p>
    <hr />
    <ul id="ofFromUlElement2">
      <li><strong>a: </strong> {{ obsMsg.a }}</li>
      <li><strong>b: </strong> {{ obsMsg.b }}</li>
      <li><strong>c: </strong> {{ obsMsg.c }}</li>
    </ul>
  </div>
</div>
<strong> Ex - 02 (From) </strong>
<hr />
<div class="row">
  <div class="col-md-4">
    <strong>Array</strong>
    <hr />
    <p class="bg-light py-2 px-3 border rounded">
      <strong>Data:</strong> from(['Amar','Akbar','Anthony'])
    </p>
    <hr />
    <ul id="ofFromUlElement3"></ul>
  </div>
  <div class="col-md-4">
    <strong>Promise</strong>
    <hr />
    <p class="bg-light py-2 px-3 border rounded">
      <strong>Data:</strong> Promise to Observable
    </p>
    <hr />
    <ul id="ofFromUlElement4"></ul>
  </div>
  <div class="col-md-4">
    <strong>String</strong>
    <hr />
    <p class="bg-light py-2 px-3 border rounded">
      <strong>Data:</strong> String to Observable
    </p>
    <hr />
    <ul id="ofFromUlElement5"></ul>
  </div>
</div>
